#banner {
	background-image: image-url("background.jpg");
	background-size: cover;
	padding: 150px 0px;
	height: 650px;
	color: white;

	h1 {
		font-size: 80px;
	}

	p {
		font-size: 30px;
		width: 500px;
	}
}

#newsletter {
	background-color: $pumpkin;
	padding: 40px 0;
}

#testimonials {
	padding: 60px 0;

	.testimonials {
		background: white;
		padding: 40px;
		margin: 10px;
		box-shadow: 1px 1px 3px rgb(210,210,210);

		img {
			width: 40%;
			margin: 0 auto;
		}
	}
}