#products {

	background: #FF512F; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FF512F , #F09819); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FF512F , #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 150px 0px;
	color: white;

	h1 {
		margin: 50px 0;
	}

	.price {
		font-size: 30px;
		line-height: 60px;
	}
}